.caracteristiques{
    text-align: center;
    background-color: var(--color-black);
    color: var(--color-white-on-black);

    .sm_wrapper{
        padding-top: 40px;
        padding-bottom: 40px;

    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        margin-top: 50px;
        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: 1fr;
                
        }

        .card{

            border: 2px solid transparent;
            padding: 30px;
            border-radius: 20px;
            h4{
                margin-bottom: 0;
            }
            img{
                transition: all 0.2s ease-out;
            }
            &:hover{
                border: 2px solid #7397cc;
                img{
                    transform: scale(125%);
                }
                a{
                    color: #7397cc;

                }
            }
        }
    }

}