.faq{
    background: linear-gradient(to top, #000, #202020);
    color: var(--color-white-on-black);
    text-align: center;
    padding: 40px;

    fieldset{
        border: none;
    }

    .questions{
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px;
        h4{
            margin: 0;
        }
        
        margin-top: 40px;

        .accordion__container {
            
            
            border-radius: 40px;
            
            
            
            .accordion__header{
                padding: 20px 30px 50px;
                border-radius: 40px;
                position: relative;
                background: var(--color-bg-secondary);
                &:hover {
                    .bouton_accordion{
                        background-color: var(--color-black);
                        transform: translateX(-50%) scale(120%);
                    }
                    
                    span{
                        background: var(--color-white);
                    }
    
                    cursor: pointer;
                    
                }

            }
            
            //.accordion__content représente le contenu caché par défaut
            .accordion__content {
                display: none;
                
                
            }
            &.content-is-active {
                background: var(--color-bg-secondary);
                .accordion__content {
                    //On affiche le contenu lorsqu'il y a l'état is-active
                    display: block;
                    padding: 20px;

                    
                }
                .accordion__header{
                background: transparent;

                    
                    span {
                        
            
                        &:nth-child(2) {
                            display: none;
                        }
                    }
                }
                
            }
        }
        

        .bouton_accordion {
            z-index: 6;
            width: 50px;
            height: 50px;
            position: absolute;
            background-color: var(--color-white);
            border-radius: 100%;
            transform: translateX(-50%);
            left: 50%;
            transition: all 0.1s ease-out;
            bottom: 0;
            margin-bottom: 10px;
            
            &:hover {
                background-color: var(--color-black);
                span{
                    background: var(--color-bg-secondary);
                }

                cursor: pointer;
                
            }
    
            span {
                width: 6px;
                height: 30px;
                border-radius: 5px;
                background: var(--color-bg-secondary);
                z-index: 8;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
    
                &:nth-child(1) {
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }
        }
    }
    
}