footer{

    background: var(--color-black);
    color: var(--color-white-on-black);
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        @media screen and (max-width: $breakpoint-ml) {
            flex-direction: column;
            gap: 0;
        }
    }
    .infolettre{
        @media screen and (max-width: $breakpoint-ml) {
            text-align: center;
        }
    }

    .mentions{
        text-align: right;
        @media screen and (max-width: $breakpoint-ml) {
            text-align: left;
        }
        h2{
            margin-bottom: 0;
        }
        nav ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style-type: none;
            gap: 30px;
            @media screen and (max-width: $breakpoint-ml) {
                justify-content: flex-start;
            }
            li{
            transition: all 0.2s ease-out;

                &:hover{
                    transform: scale(120%);
                }
            }
        }
    }

    fieldset{
        border: none;
        margin: 20px 0;
        width: 400px;
        padding: 20px 0;
        position: relative;
        @media screen and (max-width: $breakpoint-ml) {
            width: 100%;
        }

        input{
            border-radius: 20px;
            width: 100%;
            height: 40px;
            
            
        }
        label{
            position: absolute;
            color: rgba(0, 0, 0, 0.25);
            margin-left: 15px;
        }
    }


}