.presentation{
    position: relative;
    .presentation_content{
        .black_link{
            color: var(--color-black);
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;

        @media screen and (max-width: $breakpoint-sm) {
            flex-direction: column-reverse;
            padding: 30px 0;
            gap: 0;
            
                
        }
    }
    
}