.spectech{
    position: relative;

    .sm_wrapper{
        padding-top: 40px;
        padding-bottom: 40px;

    }

    h2{
        text-align: center;
    }

    .swiper{

        height: 600px;
        .swiper-slide{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
        }
    }
}