/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.1s ease-out;


    &:hover{
        transform: scale(120%);
        color: #7397cc;

    }
    
    

    
}
button{
    color: var(--color-white);
    padding: 8px 30px;
    border-radius: 20px;
    background: var(--color-bg-secondary);
    border: none;
    transition: all 0.2s ease-out;
    &:hover{
        cursor: pointer;
        transform: scale(120%);
        

    }
}
