/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: var(--color-white);
    text-decoration: none;
    
    

    
}
button{
    color: var(--color-white);
    padding: 8px 30px;
    border-radius: 20px;
    background: var(--color-bg-secondary);
    border: none;
    &:hover{
        cursor: pointer;
    }
}
