/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-lg;
    margin: 0 auto;
    padding: 0 40px;
}

.sm_wrapper{
    max-width: $breakpoint-ml;
    margin: 0 auto;
    padding: 0 30px;
}