/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-white-on-black: #F5F5F5;

    --color-black: #000;
    --color-shadow: rgba(0, 0, 0, 0.25);


    // Couleurs du projet
    --color-primary: #f2545b;

    --color-bg-primary: linear-gradient(to bottom, #000, #202020);
    --color-bg-secondary: linear-gradient(to left bottom, #A7C6F5, #2164C8);
}
