<!-- Header -->

{% include '_partials/_header.html' %}

<section class="hero">
    <div class="sm_wrapper">
        <div class="hero_content">
            <h1>Airpods Pro 2</h1>
        <p>Écoutez votre musique comme jamais auparavant grâce à la puissance des tout nouveaux airpods pro 2</p>
        <a href=""><button>Acheter</button></a>
        </div>
        <div class="hero_img">
            <img src="assets/images/imghero.png" alt="Airpods pro 2 charging">
        </div>
        
    </div>
    
</section>

<section class="presentation">
    <img class="texture texture_left" src="assets/images/texture.png" alt="texture son gauche">
    <img class="texture texture_right" src="assets/images/texture2.png" alt="texture right">
    <div class="sm_wrapper">
        
        <div class="presentation_content">
            <img class="shadow" src="assets/images/imageproduit.png" alt="AirPodsPro2 demo">
            <div>
                <h2>Présentation du produit</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui scelerisque etiam imperdiet lectus. Non at id enim, dui libero volutpat sodales aliquam et. Sed nibh enim faucibus tellus, odio consequat eleifend at habitant.</p>
            <a class="black_link" href="">Seulement 329$</a>
            </div>
            
        </div>

    </div>
</section>

<section class="caracteristiques">
    <div class="sm_wrapper">
        <h2>Caractéristiques du produit</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed elementum id dapibus mi lectus mi. Adipiscing tellus maecenas duis leo tempus sem ut.</p>
        <div class="cards">
            <div class="card">
                <a href="">
                    <img src="assets/images/spatial.png" alt="Audio spatial">
                    <h4>Audio spatial</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum nulla ligula facilisi.</p>
                </a>
                
            </div>

            <div class="card">
                <a href="">
                    <img src="assets/images/micro.png" alt="Micro">
                    <h4>Microphone intégré</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus non condimentum.</p>
                </a>
                
            </div>

            <div class="card">
                <a href="">
                    <img src="assets/images/capteur.png" alt="Capteurs">
                    <h4>Capteurs intégrés</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Penatibus feugiat praesent.</p>
                </a>
                
            </div>
            
        </div>
    </div>
</section>

<section class="spectech">
    <img class="texture texture_left" src="assets/images/texture.png" alt="texture son gauche">
    <img class="texture texture_right" src="assets/images/texture2.png" alt="texture right">

    <div class="sm_wrapper">
        <h2>Spécifications techniques</h2>

        <!-- Slider main container -->
        <div class="swiper" data-component="Carousel" data-loop data-autoplay>
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="assets/images/slide1.png" alt="Boite airpods" class="shadow">
                    <div class="slide_content">
                        <h3>Batterie fiable et durable</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod arcu venenatis rhoncus leo, lectus nisl tortor curabitur. Euismod lacus, lacus, egestas dolor.</p>
                        <a href=""><button>Acheter</button></a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/slide2.png" alt="Intérieur airpods" class="shadow">
                    <div class="slide_content">
                        <h3>Technologie supérieure</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sem viverra ultrices sed diam commodo cursus tincidunt condimentum urna. Ante condimentum.</p>
                        <a href=""><button>Acheter</button></a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img src="assets/images/slide3.png" alt="Boite airpods 2" class="shadow">
                    <div class="slide_content">
                        <h3>Haut-parleur intégré à l’étui</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh gravida sed sapien, quam sed eget mattis dictum mi. Tempor ut egestas a in neque tristique ac.</p>
                        <a href=""><button>Acheter</button></a>
                    </div>
                </div>
            
            </div>


            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
        </div>




    </div>

</section>



<section class="faq">
    <div class="sm_wrapper">
        <h2>Foire aux questions</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh cursus pulvinar in massa erat pharetra, et tristique risus. Ornare potenti amet, cursus ut id eu id. Vitae venenatis tempus pharetra in viverra a. </p>
        <fieldset>
            <label class="form__label" for="question">Posez votre question</label>
            <input type="text" id="question" name="question">
            <a href=""><button>Soumettre</button></a>
        </fieldset>
        
        
        
        <div class="questions" data-component="Accordion">


            <div class="accordion__container js-header">
                <div class="accordion__header">
                    <h4>Configuration des airpods pro 2</h4>
                    <p>Comment configurer les airpods pro 2?</p>
                    <div class="bouton_accordion">
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="accordion__content">
                    <h4>Réponse:</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="bouton_accordion2">
                        <span></span>
                    </div>
                </div>
            </div>

            <div class="accordion__container js-header">
                <div class="accordion__header">
                    <h4>Les garanties sur les airpods pro</h4>
                    <p>Quelles sont les garanties sur ce produit?</p>
                    <div class="bouton_accordion">
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="accordion__content">
                    <h4>Réponse:</h4>
                    <p>Lorem ipsum dolor sit pharetra in viverra.</p>
                    <div class="bouton_accordion2">
                        <span></span>
                    </div>
                </div>
            </div>

            <div class="accordion__container js-header">
                <div class="accordion__header">
                    <h4>Nettoyage des airpods pro 2</h4>
                    <p>Comment nettoyer mes airpods pro 2?</p>
                    <div class="bouton_accordion">
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="accordion__content">
                    <h4>Réponse:</h4>
                    <p>Lorem ipsum cursus ut id eu id.</p>
                    <div class="bouton_accordion2">
                        <span></span>
                    </div>
                </div>
            </div>


        </div>

        


    </div>
</section>



<!-- Footer -->

{% include '_partials/_footer.html' %}
