<!-- Header -->

{% include '_partials/_header.html' %}

<section class="hero">
    <div class="sm_wrapper">
        <div class="hero_content">
            <h1>Airpods Pro 2</h1>
        <p>Écoutez votre musique comme jamais auparavant grâce à la puissance des tout nouveaux airpods pro 2</p>
        <a href=""><button>Acheter</button></a>
        </div>
        <div class="hero_img">
            <img src="assets/images/imghero.png" alt="Airpods pro 2 charging">
        </div>
        
    </div>
    
</section>

<!-- Footer -->

{% include '_partials/_footer.html' %}
